body {
  background-color: #58D68D;
  text-align: center;
}

h1, .description {
  margin: 5px;
}

hr {
  margin: 20px;
  height: 1px;
  border-width: 0;
  color: black;
  background-color: black;
}

div, button, label {
  margin: 15px;
}

.logo {
  height: 60px;
  pointer-events: none;
}

button {
  display: inline-block;
  padding: 3px 4px;
  margin: 0 5px 5px 0;
  border-radius: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff; 
  background-color: #16C760;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  background-color: #58D68D;
}

form > * {
  display: block;
}

.statusMessage {
  color: #FF00F7;
}